		<!-- 页面内链接的跳转方法定义 -->
		<base target="_blank">
		<!-- 网站 META 数据定义 -->
		<meta property="og:image" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- 页面作者信息 -->
		<meta name="author" content="{% if page.author %}{{ page.author }}{% elsif site.author %}{{ site.author }}{% else %}{% endif %}" />
		<!-- 页面描述信息 -->
		<meta name="description" content="
		{% if page.description %}
			{{ page.description }}
		{% elsif site.description %}
			{{ site.description }}
		{% elsif site.author %}
			{{ site.author }}'s site.
		{% else %}
			NO DESCRIPTION
		{% endif %}"/>
		<!-- 当前页面标题栏格式定义 -->
		{% if page.title %}
		<title>{{ page.title }} | {{ site.name }}</title>
		{% else %}
		<title>{{ site.name }}</title>
		{% endif %}
		<!-- 网站图标 -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<!-- 主样式文件 -->
		<link rel="stylesheet" href="/media/css/search.css">
		<!-- FEED 文件路径 -->
		<link href="/atom.xml" rel="alternate" title="{{ site.name }}" type="application/atom+xml" />
		<!-- font-awesome 样式 -->
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Underscore.js 库 
		<script src="https://cdn.bootcss.com/underscore.js/1.9.0/underscore-min.js"></script> -->
		<!-- Jquery 库  
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>-->
		<!-- Bootstrap Core JavaScript 
		<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
		<!-- 响应式图片脚本，http://imulus.github.io/retinajs/ -->
		<script src="https://cdn.bootcss.com/retina.js/2.1.3/retina.min.js"></script>
		<!-- 不蒜子计数脚本，http://ibruce.info/2015/04/04/busuanzi/ -->
		<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
		<!-- MathJax 解析脚本，https://www.mathjax.org/#gettingstarted -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		<!-- ADOBE FONTS KIT -->
		<script src="https://use.typekit.net/{{ site.kitID }}.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.GA }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.GA }}');
		</script>