
    <!-- Underscore.js 库 
	<script src="https://cdn.bootcss.com/underscore.js/1.9.0/underscore-min.js"></script> -->
	<!-- Jquery 库  
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>-->
	<!-- Bootstrap Core JavaScript 
	<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
	<!-- 响应式图片脚本，http://imulus.github.io/retinajs/ 
	<script src="https://cdn.bootcss.com/retina.js/2.1.3/retina.min.js"></script> -->
	<!-- 不蒜子计数脚本，http://ibruce.info/2015/04/04/busuanzi/ -->
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	<!-- MathJax 解析脚本，https://www.mathjax.org/#gettingstarted -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	<!-- ADOBE FONTS KIT -->
	<script src="https://use.typekit.net/{{ site.kitID }}.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.GA }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ site.GA }}');
	</script>