<!DOCTYPE html>
<!-- Theme by Y -->
<!-- MIT LICENSE | https://opensource.org/licenses/MIT -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<!-- 页面头部信息 -->

<head>
	{% include head.html %}
	<!-- {% include onscroll.html %} -->
	<style>
		* {
			box-sizing: border-box;
		}

		div.image {
			overflow: hidden;
			position: relative;
			background: #f2f2f2;
		}

		div.image img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
			border-radius: 0!important;
    		box-shadow: none!important;
		}

		div.image:before {
			content: "";
			display: block;
			padding-top: 143%;
		}

		div.img_m {
			overflow: hidden;
			position: relative;
			background: #f2f2f2;
		}

		div.img_m img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
			border-radius: 0!important;
    		box-shadow: none!important;
		}

		div.img_m:before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		div.description {
			font-size: 13px;
			padding: 10px 0 0;
    		margin-bottom: 10px;
			color: #494949;
			line-height: 15px;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 400;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		.responsive_y {
			overflow: hidden;
			padding: 6px;
			margin: .5em 0;
			float: left;
			width: 19.99999%;
		}

		@media only screen and (max-width: 900px) {
			.responsive_y {
				width: 24.99999%;
			}
		}

		@media only screen and (max-width: 700px) {
			.responsive_y {
				width: 33.33%;
			}
		}
	</style>
</head>
<!-- 页面主体内容 -->

<body>
	<!-- 顶栏内容 -->
	{% include header.html %}
	<!-- 文章内容 -->
	<div id="content">
		<section class="title">
			<h1>{{ page.title }}</h1>
		</section>
		<section class="meta">
			<span class="time">
				<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
			</span>
			{% if page.author %} <span style="color:#2bb6c9"> {{ page.author }} </span>
			{% else %} <span style="color:#2bb6c9"> 原创 </span>
			{% endif %}
			<span id="busuanzi_container_page_pv">
				阅读 | <span id="busuanzi_value_page_pv" style="font-weight: bold"></span>
			</span>
		</section>
		{{ content }}
		<!-- 底部内容 -->
		{% include footer.html %}
	</div>
</body>

</html>