---
layout: default
---

<!-- POST PAGES -->
<!-- ORGANIZE THE BASIC HTML FOR YOUR POST -->
<!-- YOUR CAN CREATE YOUR OWN CSS IN /media/css/style.scss -->

<article>
  <section class="title">
    <h1>{{ page.title }}</h1>
  </section>
  <section class="meta">
  <span class="item">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}" style="font-weight: bold"><i class="fa fa-calendar"></i> {{ page.date | date:"%Y-%m-%d" }}</time>
  </span> |
  {% if page.author %} <span class="item"><i class="fa fa-copyright"></i> {{ page.author }} </span> | 
  {% else %} <span><i class="fa fa-copyright"></i> 原创</span> |
  {% endif %}
  {% if page.tags %}
  <span class="item">
    {% for tag in page.tags %}
    <a href="/tags#{{ tag }}" title="{{ tag }}"  style="color:#909090;"><i class="fa fa-tag"></i> {{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  <span class="item" id="busuanzi_container_page_pv">
    <i class="fa fa-eye"></i> <span id="busuanzi_value_page_pv" style="font-weight: bold"></span>
  </span>
  </section>
  <hr style="margin-top: -.2em;">
  <section class="post">
  {{ content }}
  </section>
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}" target="_self"><i class="fa fa-angle-double-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}" target="_self"><i class="fa fa-angle-double-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>
</article>
